.container {
  display: flex;
  gap: 0em;
  overflow: hidden;
}

.header-button {
  height: 10vh;
  width: 100%;
}

.home {
  opacity: 0;
}

.zerowidth {
  padding-left: 0;
  padding-right: 0;
  width:"0px";
}

.info-container{
  border-radius: 50%;
}