.container {
    display:flex;
    justify-content:center;
    gap: 3.5em;                         
  }

  .header-button{
    height: 5em;
  }

  .blog-button {
    width: 20%;
  }

  .about-button {
    width: 20%;
  }

  .home{
    opacity: 0;
  }