<div class="container">
    <button class="header-button element-container-style" (click)="activateContactMe()">{{contactMe.text}}</button>
    <button class="header-button element-container-style"(click)="activateAboutMe()">about</button>
    <button #home class="element-container-style home zerowidth" (click)="goHome()">home</button>
</div>
<div class="info-container">
    <div *ngIf="this.contactMe.initialized" #contactMeContainer>
        <app-contact-me (closeContactEvent)="activateContactMe($event)"></app-contact-me>
    </div>
    <div *ngIf="this.aboutMe.initialized" #aboutMeContainer>
        <app-about-me></app-about-me>
</div>
</div>