.container {
  display: flex;
  gap: 0em;
  overflow: hidden;
}

.header-button {
  height: 5em;
  width: 100%;
}

.home {
  opacity: 0;
}

.zerowidth {
  padding-left: 0;
  padding-right: 0;
}

.info-container{
  border-radius: 50%;
}