<canvas #canvas class="fill-app" id="canvas"></canvas>
<!--
<div>
<ngx-slider [(value)]="options.linkRadius" [options]="sliderOptions"></ngx-slider>
</div>
<div>
<ngx-slider [(value)]="options.particleAmount" [options]="sliderOptions"></ngx-slider>
</div>
<div class="">
    <button (click)="reset()" class="">reset</button>
</div>
<div class="">
    <button (click)="activateNet()" class="">net on/off</button>
</div>
<div class="">
    <button (click)="switchNetType()" class="">net type polyline/single lines</button>
</div>
-->