<div class="hovering-container glass-effect">
    <div class="button-container grid-element">
        <div class="gridded-button">
            <button>Email button</button>
        </div>
        <div class="gridded-button">
            <button>Linkedin button</button>
        </div>
    </div>
    <div class="grid-element">
        <form class="message-form" action="">
                <input class="message-text" type="text" id="messageText" name="messageText"><br>
                <input type="submit" id="sendMessage" name="submitMessage"><br>
        </form>
    </div>
</div>