.hovering-container {
  position:fixed; 
  left: 0;
  width: 50%;
  height: 80vh;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  border-radius: 5%;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gridded-button {
  min-width: 100%;
  min-height: 20%;
}
.grid-element {
  grid-column-start: 2;
  grid-column-end: 3;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.message-form {
  height: 100%;
  width: 100%;
}

.message-text {
  height: 100%;
  width: 100%;
}

.message-button {
}

.closing-icon{
  pointer-events: none;
}

.closing-icon:after {
  float:right;
  pointer-events: all;
  content: "\00d7"; /* This will render the 'X' */
}
