.bg-fixed{
  position:fixed; 
  top:0;
  left:0; 
  width: 100vw;
  max-width: 100%;
  height:100vh;
  
}
.bg-style{
  z-index:-1;
}

.image-season{
  z-index:-2;
}

.summer{
  width: 100vw; /* width of container */
  height: 50vh; /* height of container */
  object-fit: cover;
  object-position: 0% 25%; /* try 20px 10px */ 
  border: 5px solid black;
}
