.bg-fixed{
  position:fixed; 
  top:0;
  left:0; 
  width: 100vw;
  max-width: 100%;
  height:100vh;
  object-fit: none;
}
.bg-style{
  z-index:-1;
}

.image-season{
  z-index:-2;
}

.summer{
  width: 50vw;
  overflow: hidden;
  height: 100vh;
  object-position: 0% 0%;
  border: 0px solid black;
}

.winter{
  width: 50vw;
  height: 100vh;
  object-position: 0% 0%;
  border: 0px solid black;
}