html,
body {
  margin: 0;
  padding: 0;
}

.app-filler{
  display:table-cell;
}

.header-style{
  width: 100%;
  max-width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 1000px;
}
.service-stick-mode{
  margin-top: 70px;
 }

.background {
  position: relative;
  width: 0px;
}