<app-header></app-header>
<div class="container">
  <div class="sidebar">
    <div><button class="app-button element-container-style sidebar-button">App</button></div>
    <div><button class="app-button element-container-style sidebar-button">Project Description</button></div>
    <div><button class="app-button element-container-style sidebar-button">Code on GitHub</button></div>
  </div>
  <div class="carousel element-container-style">
    <app-hourglass *ngIf="appName === 'hourglass'"></app-hourglass>
    <app-gol *ngIf="appName === 'gol'"></app-gol>
    </div>
</div>