<app-header></app-header>
<div class="container">
  <div #sidebar class="sidebar">
    <div><button class="app-button element-container-style sidebar-button">App</button></div>
    <div><button class="app-button element-container-style sidebar-button">Project Description</button></div>
    <div><button class="app-button element-container-style sidebar-button">Youtube</button></div>
    <div><button class="app-button element-container-style sidebar-button">Code on GitHub</button></div>
  </div>
  <div #appContainer class="carousel element-container-style">
    <app-organizer class="element-container-style" *ngIf="appName === 'organizer'"></app-organizer>
    <app-matrix class="element-container-style" *ngIf="appName === 'matrix'"></app-matrix>
    <app-particle-network class="element-container-style" *ngIf="appName === 'particleNetwork'"></app-particle-network>
    <app-markup-editor *ngIf="appName === 'markupEditor'"></app-markup-editor>
    <app-hourglass class="app-filler element-container-style" *ngIf="appName === 'hourglass'"></app-hourglass>
<!--
    <app-circular-calendar class="app-filler element-container-style" *ngIf="appName === 'circularCalendar'"></app-circular-calendar>
    <app-json-to-graph class="app-filler element-container-style" *ngIf="appName === 'jsonToGraph'"></app-json-to-graph>
-->
    </div>
</div>