<div class="container">
  <div #sidebar class="sidebar">
    <button class="app-button element-container-style sidebar-button"><span class="button-vertical-text">github</span></button>
    <button class="app-button element-container-style sidebar-button"><span class="button-vertical-text">about</span></button>
  </div>
  <div #appContainer class="carousel app-container">
    <app-matrix *ngIf="appName === 'matrix'" class="element-container-style"></app-matrix>
    <app-particle-network *ngIf="appName === 'particleNetwork'" class="element-container-style"></app-particle-network>
    <app-markup-editor *ngIf="appName === 'markupEditor'" class="element-container-style"></app-markup-editor>
    <app-image-slider *ngIf="appName === 'imageSlider'" class="element-container-style"></app-image-slider>
    </div>
</div>