<div #appButtonsContainer class="container">
    
    <!-- future section for links to sites
    <div #appButton  class="snippets-header element-container-style">Site/open random site
        <button class="get-random-item" (click)="selectRandomItem()">get random item</button>
    </div>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('organizer')">Architorti</button>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('matrix')">D21</button>
-->

    <div #appButton  class="snippets-header element-container-style">Snippets/open random snippet
        <button class="get-random-item" (click)="selectRandomItem()">get random item</button>
    </div>
    <div #appPreviewContainer class="preview-element">
    </div>
    <button #appButton #selectable class="app-button element-container-style matrix"
    (mouseenter)="onMouseEnter(2)" (mouseout)="onMouseLeave()"  (click)="goToApp('matrix')">Matrix</button>
    <button #appButton #selectable class="app-button element-container-style particles" 
    (mouseenter)="onMouseEnter(3)" (mouseout)="onMouseLeave()" (click)="goToApp('particleNetwork')">Particle Network</button>
    <button #appButton #selectable class="app-button element-container-style image-slider" 
    (mouseenter)="onMouseEnter(4)" (click)="goToApp('hourglass')">Image slider</button>
    <button #appButton #selectable class="app-button element-container-style markup"
    (mouseenter)="onMouseEnter(5)" (click)="goToApp('markupEditor')">Markup editor</button>
</div>