.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.snippets-header{
  height: 10em;
  grid-column-start: 2;
  grid-row: 1;
}

.app-button {
  height: 15em;
  grid-column-start: 2;
}

