.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.snippets-header{
  height: 3em;
  grid-column-start: 2;
  background-color: red;
  
}

.app-button {
  height: 5em;
  grid-column-start: 2;
}

.get-random-item{
  width: 50%;
  align: right;
}

.selected-item{
  border-color: red;
  border-width: 10px;
}