<div #appButtonsContainer class="container">
    <div #appButton  class="snippets-header">Snippets/open random snippet</div>
    <button #appButton class="app-button" (click)="goToApp('organizer')">Organizer</button>
    <button #appButton class="app-button" (click)="goToApp('matrix')">Matrix</button>
    <button #appButton class="app-button" (click)="goToApp('particleNetwork')">Particle Network</button>
    <!-- <button class="app-button" (click)="goToApp('markupEditor')">Markup editor</button> -->
    <button #appButton class="app-button" (click)="goToApp('hourglass')">Rainbown Path</button>
    <!--
        <button class="app-button" (click)="goToApp('jsonToGraph')">Json to graph</button>
        <button class="app-button" (click)="goToApp('circularCalendar')">Ciruclar calendar</button>
    -->
</div>