<div #appButtonsContainer class="container">
    <div #appButton  class="snippets-header element-container-style">Snippets/open random snippet
        <button class="get-random-item" (click)="selectRandomItem()">get random item</button>
    </div>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('organizer')">Organizer</button>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('matrix')">Matrix</button>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('particleNetwork')">Particle Network</button>
    <button #appButton #selectable class="app-button element-container-style" (click)="goToApp('hourglass')">Rainbown Path</button>
    <button class="app-button element-container-style" (click)="goToApp('markupEditor')">Markup editor</button>
    <!--
        <button class="app-button" (click)="goToApp('jsonToGraph')">Json to graph</button>
        <button class="app-button" (click)="goToApp('circularCalendar')">Ciruclar calendar</button>
    -->
</div>