.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.snippets-header{
  height: 15em;
  grid-column-start: 2;
  background-color: red;
  
}

.app-button {
  height: 15em;
  grid-column-start: 2;
}

