.footer-header{
    width:100%;
}

.header-text{
    color:white;
    text-align: center;
}
.skills{
   width:100%;
   display: inline-flex;
   justify-content: space-evenly;
}

.skill{
    color:white;
    text-align: center;
}