$left-image-z-index: -1;
$right-image-z-index: $left-image-z-index - 1;
$bottom-image-z-index: $right-image-z-index - 1;
$top-image-z-index: $bottom-image-z-index - 1;
$image-width: 50%;


img{
    width: $image-width;
    height: 100%;
    overflow: hidden;
    object-fit: none;
    object-position: 0% 0%;
    position:fixed; 
    top:0;
    left:0;
}

svg{
    position:fixed; 
    top:0;
    left:0;
    height:100%;
    width: $image-width;
}

.app-background{
  }

.left-image{
    z-index: $left-image-z-index;
}

.right-image{
    z-index: $right-image-z-index;
}

.bottom-image{
    z-index: $bottom-image-z-index;
}

.top-image{
    z-index: $top-image-z-index;
}