/* You can add global styles to this file, and also import other style files */
.element-container-style {
    background-color: darkgray;
    color: white;
    padding: 0em;
    border-radius: 20px;
    border: 1px solid black;
  }